{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>&nbsp;</div>
<p style="margin: 0 auto; postion: center;">Order placed!</p>
<div>
  &nbsp;
</div>
<div>
&nbsp;
</div>
<div>
  &nbsp;
</div>
<button style="padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 0 auto; bottom:0; display:block; width:500px;  cursor: pointer; border-radius: 8px;" class="" onclick="location.href='{% url 'home' %}'"> Back to Homepge</button>
{% endblock %}